.pricing {
    height: 40rem;
    display: flex;
    padding: 0rem 6rem;
    align-items: center;
}

.driver-grid {
    padding: 1rem 1rem;
}

.driver-card {
    margin: 0rem 1rem;
    display: flex;
    align-items: center;
    height: 10rem;
}

.driver-card img {
    height: 80%;
    border-radius: 1rem;
}

.driver-card p {
    margin-top: 0;
    margin-bottom: 0rem;
}